body{
  margin:0;
  padding:0;
}
nav {
  padding:10px;
  margin:0;

}
a {
  background-color:gray;
   text-decoration: none;
  padding:10px;
  color:yellow;
  margin-left:-4px;
  width:100px;
  height:50px;
  -webkit-transition: width 2s;
  transition: width 2s;
}
a:hover {
  width: 120px;
}
article {
  font-family: "oxygen", sans-serif;
  background-color: silver;
  color: white;
  width: auto;
  top: 30%;
  padding:15px;
  
}
.background-image{
  background-image:url("zen-2040340_1280.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  padding:275px;
}
